@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-space-gradient {
    background: radial-gradient(circle at center, #132b08 0%, #0b1a0a 100%);
}

.stars {
    background-image: radial-gradient(
            2px 2px at 20px 30px,
            #ffe499,
            rgba(0, 0, 0, 0)
        ),
        radial-gradient(2px 2px at 40px 70px, #96d68f, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 50px 160px, #ffe499, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 90px 40px, #96d68f, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 130px 80px, #ffe499, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 160px 120px, #96d68f, rgba(0, 0, 0, 0));
    background-repeat: repeat;
    background-size: 200px 200px;
    opacity: 0.3;
}
